<div role="tabpanel" class="tab-pane fix fade in" id="specialoffer">
    <ul class="tag-filter">
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Winter</a></li>
        <li><a href="#">Street Style</a></li>
        <li><a href="#">Style</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Collection</a></li>
        <li><a href="#">Spring 2016</a></li>
        <li><a href="#">Street Style</a></li>
        <li><a href="#">Style</a></li>
        <li><a href="#">Shop</a></li>
    </ul>
</div>