<div class="social-icon socile-icon-style-1">
  <ul>
    <li>
      <div class="add-cart add-cart-text">
        {{ form_widget(form.add, {'attr': {'class': 'add-cart add-cart-text', 'data-tooltip': 'Add To Cart'}}) }}
        <i class="fa fa-cart-plus"></i>
      </div>
    </li>
    <li><a href="#" data-tooltip="Wishlist" class="w-list" tabindex="0"><i class="fa fa-heart-o"></i></a></li>
    <li><a href="#" data-tooltip="Compare" class="cpare" tabindex="0"><i class="fa fa-refresh"></i></a></li>
    <li><a href="#" data-tooltip="Quick View" class="q-view" data-toggle="modal" data-target=".modal" tabindex="0"><i class="fa fa-eye"></i></a></li>
  </ul> 
</div>
