<!--breadcumb area start -->
<div class="breadcumb-area overlay pos-rltv">
    <div class="bread-main">
        <div class="bred-hading text-center">
            <h5>{{ breadcrumbTitle }}</h5>
        </div>
        {% if isProductPage %}
            {% set cid = product.getCategory().getId() %}
            {% set activePage = product.name %}
        {% else %}
            {% set cid = category.id %}
            {% set activePage = category.name %}
        {% endif %}
        <ol class="breadcrumb">
            <li class="home"><a title="Go to Home Page" href="/">Home</a></li>
            {{
                render(controller(
                    'App\\Controller\\DefaultController::getCategoriesPath',
                    {   'id': cid,
                        'isProductPage': isProductPage,
                        'addLi': true
                    })
                )
            }}
            <li class="active">{{ activePage }}</li>
        </ol>
    </div>
</div>
<!--breadcumb area end -->    