{% extends "base.html.twig" %}

{% block title %} {% if id %} {{ category.name }} {% else %} All Categories {% endif %} {% endblock %}

{% block body %} 

   
  {% set breadcrumbTitle = 'Categories' %}
  {% set isProductPage = false %}
  {{ include('default/layouts/parts/product/product-breadcrumbs.html.twig') }}
    
  <!--shop main area are start-->
  <div class="shop-main-area ptb-70">
    <div class="container">
      <div class="row">
        {{ include('default/layouts/sidebar.html.twig') }}
        <!--main-shop-product start-->
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="shop-wraper">
            {{ render(controller(
              'App\\Controller\\DefaultController::getAllProductsInCategory',
              {
                'categoryId': id, 
                'view': 'default/layouts/category-main.html.twig',
                'limit': itemsPerPage,
                'offset': (currentPage-1),
                'viewType': viewType,
                'orderBy': orderBy,
                'orderType': orderType
              }
              ))
            }}
          </div>
        </div>
        <!--main-shop-product start-->
      </div>
    </div>
  </div>

{% endblock %}
