<div class="cart-total-area">
    <div class="catagory-title cat-tit-5 mb-20 text-right">
            <h3>Cart Totals</h3> 
     </div>
    {#
     <div class="sub-shipping">
         <p>Subtotal <span>{{ cart.total }}</span></p>
         <p>Shipping <span>$3.00</span></p>
     </div>
     <div class="shipping-method text-right">
            <div class="shipp">
                <input type="radio" name="ship" id="pay-toggle1">
                <label for="pay-toggle1">Flat Rate</label>
            </div>
            <div class="shipp">
                <input type="radio" name="ship" id="pay-toggle3">
                <label for="pay-toggle3">Direct Bank Transfer</label>
            </div>
            <p><a href="#">Calculate Shipping</a></p>
     </div>
     #}
     <div class="process-cart-total">
         <p>Total <span>{{ cart.total }}</span></p>
     </div>
     <div class="process-checkout-btn text-right">
         <a class="btn-def btn2" href="#">Process To Checkout</a>
     </div>
</div>