<label>Color: </label>
<select id="input-sort-color">
    <option value="#">Red</option>
    <option value="#">Blue</option>
    <option value="#">Green</option>
    <option value="#">Purple</option>
    <option value="#">Yellow</option>
    <option value="#">Black</option>
    <option value="#">Grey</option>
    <option value="#">White</option>
    <option value="#" selected>Chose Your Color</option>
</select>