<div class="header-cart">
    {#
        set cartItems = получить список товара в корзине из контроллера CartController:getItems 
    #}
    <div class="cart-icon">
        <a href="#">Cart<i class="zmdi zmdi-shopping-cart"></i></a>
        <span>
        2 {# количество товара cartItems | length #}
        </span>
    </div>
    <div class="cart-content-wraper">
        <div class="cart-single-wraper">
            <div class="cart-img">
                <a href="#"><img src="images/product/01.jpg" alt=""></a>
            </div>
            <div class="cart-content">
                <div class="cart-name"> <a href="#">Aenean Eu Tristique</a> </div>
                <div class="cart-price"> $70.00 </div>
                <div class="cart-qty"> Qty: <span>1</span> </div>
            </div>
            <div class="remove"> <a href="#"><i class="zmdi zmdi-close"></i></a> </div>
        </div>

        <div class="cart-single-wraper">
            <div class="cart-img">
                <a href="#"><img src="images/product/02.jpg" alt=""></a>
            </div>
            <div class="cart-content">
                <div class="cart-name"> <a href="#">Aenean Eu Tristique</a> </div>
                <div class="cart-price"> $70.00 </div>
                <div class="cart-qty"> Qty: <span>1</span> </div>
            </div>
            <div class="remove"> <a href="#"><i class="zmdi zmdi-close"></i></a> </div>
        </div>

        <div class="cart-subtotal">
            Subtotal: 
                <span>
                    $200.00 {# общая сумма cartTotalPrice #}
                </span>
        </div>
        
        <div class="cart-check-btn">
            <div class="view-cart"> <a class="btn-def" href="{{ url('cart',{'step':'cart'}) }}">View Cart</a> </div>
            <div class="check-btn"> <a class="btn-def" href="{{ url('cart',{'step':'checkout'}) }}">Checkout</a> </div>
        </div>
    </div>
</div>