{#
    for list view <div class="prodcut-ratting list-ratting">
#}
<div class="prodcut-ratting">
    {% if rating>0 %}
        {% for i in 1..rating %}
            <i class="fa fa-star"></i>
        {% endfor %}
    {% endif %}
    {% if rating <= 4 %}
        {% for i in rating..4 %}
            <i class="fa fa-star-o"></i>
        {% endfor %}
    {% endif %}
    [{{ rating }}]
</div>