<div class="search-box global-table">
    <div class="global-row">
        <div class="global-cell">
            <form action="#">
                <div class="input-box">
                    <input id="search"  class="single-input" placeholder="Search anything" type="text">
                    <button class="src-btn"><i class="fa fa-search"></i></button>
                </div>
            </form>
            <ul class="nav nav-second-level search-results" id="searchList">
            </ul>
        </div>
    </div>
</div>