<label>Size: </label>
<select id="input-sort-size">
    <option value="#">S</option>
    <option value="#">M</option>
    <option value="#">L</option>
    <option value="#">XL</option>
    <option value="#">XXL</option>
    <option value="#" selected="">Chose Your Size</option>
</select>