<!--banner area start-->
<div class="banner-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-banner gray-bg">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="sb-img text-center">
                                <img src="images/banner/02.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="sb-content mt-60">
                                <div class="banner-text">
                                    <h5 class="lato">New Arrival</h5>
                                    <h2 class="montserrat">Grag T- Shirt</h2>
                                    <h3 class="montserrat">$99.99</h3>
                                    <div class="banner-list">
                                        <ul>
                                            <li>Best quality</li>
                                            <li>Best quality</li>
                                            <li>Best quality</li>
                                        </ul>
                                    </div>
                                    <div class="social-icon-wraper mt-25">
                                        <div class="social-icon socile-icon-style-1">
                                            <ul>
                                                <li><a href="#"><i class="zmdi zmdi-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i></a></li>
                                                <li><a href="#" data-tooltip="Quick View" class="q-view" data-toggle="modal" data-target=".modal" tabindex="0"><i class="zmdi zmdi-eye"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-repeat"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-banner gray-bg">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="sb-img text-center">
                                <img src="images/banner/01.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="sb-content mt-60">
                                <div class="banner-text">
                                    <h5 class="lato">New Arrival</h5>
                                    <h2 class="montserrat">Grag T- Shirt</h2>
                                    <h3 class="montserrat">$99.99</h3>
                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                    <a class="btn-def btn2" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner area end--> 