<!--blog area are start-->
<div class="blog-area pb-70">
    <div class="container">
        <div class="row">
              <div class="col-xs-12 text-center">
                   <div class="heading-title heading-style pos-rltv mb-50 text-center">
                       <h5 class="uppercase">Blog</h5>
                   </div>
               </div>
           <div class="total-blog">
                <div class="col-md-4">
                   <div class="single-blog">
                       <div class="blog-img pos-rltv product-overlay">
                           <a href="#"><img src="images/blog/01.jpg" alt=""></a>
                       </div>
                       <div class="blog-content">
                           <div class="blog-title">
                               <h5 class="uppercase font-bold"><a href="#">New fashion collection 2016</a></h5>
                               <div class="like-comments-date">
                                   <ul>
                                       <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>13 Like</a></li>
                                       <li><a href="#"><i class="zmdi zmdi-comment-outline"></i>03 Comments</a></li>
                                       <li class="blog-date"><a href="#"><i class="zmdi zmdi-calendar-alt"></i>16 jun 2016</a></li>
                                   </ul>
                               </div>
                               <div class="blog-text">
                                   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
                               </div>
                               <a class="read-more montserrat" href="#">Read More</a>
                           </div>
                       </div>
                   </div> 
                </div>
                <div class="col-md-4">
                   <div class="single-blog">
                       <div class="blog-img pos-rltv product-overlay">
                           <a href="#"><img src="images/blog/02.jpg" alt=""></a>
                       </div>
                       <div class="blog-content">
                           <div class="blog-title">
                               <h5 class="uppercase font-bold"><a href="#">New fashion collection 2016</a></h5>
                               <div class="like-comments-date">
                                   <ul>
                                       <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>13 Like</a></li>
                                       <li><a href="#"><i class="zmdi zmdi-comment-outline"></i>03 Comments</a></li>
                                       <li class="blog-date"><a href="#"><i class="zmdi zmdi-calendar-alt"></i>16 jun 2016</a></li>
                                   </ul>
                               </div>
                               <div class="blog-text">
                                   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
                               </div>
                               <a class="read-more montserrat" href="#">Read More</a>
                           </div>
                       </div>
                   </div> 
                </div>
                <div class="col-md-4">
                   <div class="single-blog">
                       <div class="blog-img pos-rltv product-overlay">
                           <a href="#"><img src="images/blog/03.jpg" alt=""></a>
                       </div>
                       <div class="blog-content">
                           <div class="blog-title">
                               <h5 class="uppercase font-bold"><a href="#">New fashion collection 2016</a></h5>
                               <div class="like-comments-date">
                                   <ul>
                                       <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>13 Like</a></li>
                                       <li><a href="#"><i class="zmdi zmdi-comment-outline"></i>03 Comments</a></li>
                                       <li class="blog-date"><a href="#"><i class="zmdi zmdi-calendar-alt"></i>16 jun 2016</a></li>
                                   </ul>
                               </div>
                               <div class="blog-text">
                                   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
                               </div>
                               <a class="read-more montserrat" href="#">Read More</a>
                           </div>
                       </div>
                   </div> 
                </div>
                <div class="col-md-4">
                   <div class="single-blog">
                       <div class="blog-img pos-rltv product-overlay">
                           <a href="#"><img src="images/blog/01.jpg" alt=""></a>
                       </div>
                       <div class="blog-content">
                           <div class="blog-title">
                               <h5 class="uppercase font-bold"><a href="#">New fashion collection 2016</a></h5>
                               <div class="like-comments-date">
                                   <ul>
                                       <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i>13 Like</a></li>
                                       <li><a href="#"><i class="zmdi zmdi-comment-outline"></i>03 Comments</a></li>
                                       <li class="blog-date"><a href="#"><i class="zmdi zmdi-calendar-alt"></i>16 jun 2016</a></li>
                                   </ul>
                               </div>
                               <div class="blog-text">
                                   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
                               </div>
                               <a class="read-more montserrat" href="#">Read More</a>
                           </div>
                       </div>
                   </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--blog area are end-->