<!--branding-section-area start-->
<div class="branding-section-area">
    <div class="container">
        <div class="row">
            <div class="active-slider pos-rltv carosule-pagi cp-line pagi-02">
                <div class="single-slider">
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="brand-img text-center">
                            <img src="images/team/branding.png" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                        <div class="brand-content ptb-55">
                            <div class="brand-text color-lightgrey">
                                <h6>New Fashion</h6>
                                <h2 class="uppercase montserrat">Brand Cortta</h2>
                                <h3 class="montserrat">$200.00</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <div class="social-icon-wraper mt-35">
                                    <div class="social-icon">
                                        <ul>
                                            <li><a href="#"><i class="zmdi zmdi-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i></a></li>
                                            <li><a href="#" data-tooltip="Quick View" class="q-view" data-toggle="modal" data-target=".modal" tabindex="0"><i class="zmdi zmdi-eye"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-repeat"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="brand-timer shadow-box-2 mt-50">
                                <div class="timer-wraper text-center">
                                    <div class="timer">
                                        <div data-countdown="2015/02/01"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider">
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="brand-img text-center">
                            <img src="images/team/branding.png" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                        <div class="brand-content ptb-55">
                            <div class="brand-text color-lightgrey">
                                <h6>New Fashion</h6>
                                <h2 class="uppercase montserrat">Brand Cortta</h2>
                                <h3 class="montserrat">$200.00</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <div class="social-icon-wraper mt-35">
                                    <div class="social-icon">
                                        <ul>
                                            <li><a href="#"><i class="zmdi zmdi-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i></a></li>
                                            <li><a href="#" data-tooltip="Quick View" class="q-view" data-toggle="modal" data-target=".modal" tabindex="0"><i class="zmdi zmdi-eye"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-repeat"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="brand-timer shadow-box-2 mt-50">
                                <div class="timer-wraper text-center">
                                    <div class="timer">
                                        <div data-countdown="2017/02/01"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider">
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12"> 
                        <div class="brand-img text-center">
                            <img src="images/team/branding.png" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                        <div class="brand-content ptb-55">
                            <div class="brand-text color-lightgrey">
                                <h6>New Fashion</h6>
                                <h2 class="uppercase montserrat">Brand Cortta</h2>
                                <h3 class="montserrat">$200.00</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <div class="social-icon-wraper mt-35">
                                    <div class="social-icon">
                                        <ul>
                                            <li><a href="#"><i class="zmdi zmdi-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i></a></li>
                                            <li><a href="#" data-tooltip="Quick View" class="q-view" data-toggle="modal" data-target=".modal" tabindex="0"><i class="zmdi zmdi-eye"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-repeat"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="brand-timer shadow-box-2 mt-50">
                                <div class="timer-wraper text-center">
                                    <div class="timer">
                                        <div data-countdown="2019/02/01"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--branding-section-area end-->