
<!--tab grid are start-->
<div role="tabpanel" class="tab-pane fade in {% if viewType=='grid' %} active {% endif %}" id="grid">
  <div class="total-shop-product-grid">
    {% for product in products %}    
      <div class="col-md-4 col-sm-6 item">
        <!-- single product start-->
        <div class="single-product">
          <div class="product-img">
            <div class="product-label red">
                <div class="new">Sale</div>
            </div>
            
            {% include "default/layouts/parts/product-image.html.twig" %}
            
            <div class="product-icon socile-icon-tooltip text-center">
                <ul>
                    <li><a href="#" data-tooltip="Add To Cart" class="add-cart" data-placement="left"><i class="fa fa-cart-plus"></i></a></li>
                    <li><a href="#" data-tooltip="Wishlist" class="w-list"><i class="fa fa-heart-o"></i></a></li>
                    <li><a href="#" data-tooltip="Compare" class="cpare"><i class="fa fa-refresh"></i></a></li>
                    <li><a href="#" data-tooltip="Quick View" class="q-view" data-toggle="modal" data-target=".modal"><i class="fa fa-eye"></i></a></li>
                </ul>
            </div>
          </div>
          <div class="product-text">
              <div class="prodcut-name"> <a href="{{ url('product',{'id': product.id}) }}"">{{ product.name }}</a> </div>
              <div class="prodcut-ratting-price">
                  {% set viewType = "gr-var" %}
                  {{ include('default/layouts/parts/rating-star-controller.html.twig') }}
                  <div class="prodcut-price">
                      <div class="new-price"> ${{ product.price }} </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- single product end-->
      </div>
    {% endfor %}
  </div>
</div>
<!--shop grid are end-->