<div class="cart-currency-area login-register-area text-right">
    <ul>
        <li>
            {{ include('default/layouts/parts/currency-part.html.twig') }}
        </li>
        <li>
            {{ include('default/layouts/parts/header-cart.html.twig') }}
        </li>
    </ul>
</div>