<!--random products area start-->
<div id="random-products" class="new-arrival-area pt-70">
    <div class="container">
        <div class="row">
           <div class="col-xs-12 text-center">
               <div class="heading-title heading-style pos-rltv mb-50 text-center">
                   <h5 class="uppercase">Random Products</h5>
               </div>
           </div>
           <div class="clearfix"></div>
            <div class="total-new-arrival new-arrival-slider-active carsoule-btn">                           

                {{ render(controller(
                    'App\\Controller\\DefaultController::getRandomProducts',{'count':5}))
                }}     

                        
            </div>
        </div>
    </div>
</div>
<!--random products area end-->