<!--slider area start-->
<div class="slider-area pos-rltv carosule-pagi cp-line">
    <div class="active-slider">
        <div class="single-slider pos-rltv">
            <div class="slider-img"><img src="images/slider/slider01.jpg" alt=""></div>
            <div class="slider-content pos-abs">
                <h4>Best Collection</h4>
                <h1 class="uppercase pos-rltv underline">exclusive Fashion 2016</h1>
                <a href="#" class="btn-def btn-white">Shop Now</a>
            </div>
        </div>
        <div class="single-slider pos-rltv">
            <div class="slider-img"><img src="images/slider/slider02.jpg" alt=""></div>
            <div class="slider-content pos-abs">
                <h4>Best Collection</h4>
                <h1 class="uppercase pos-rltv underline">exclusive Fashion 2016</h1>
                <a href="#" class="btn-def btn-white">Shop Now</a>
            </div>
        </div>
        <div class="single-slider pos-rltv">
            <div class="slider-img"><img src="images/slider/slider01.jpg" alt=""></div>
            <div class="slider-content pos-abs">
                <h4>Best Collection</h4>
                <h1 class="uppercase pos-rltv underline">exclusive Fashion 2016</h1>
                <a href="#" class="btn-def btn-white">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!--slider area start-->