<!--testimonial-area-start-->
<div class="testimonial-area overlay ptb-70 mt-70">
     <div class="container">
         <div class="row">
            <div class="col-xs-12 text-center">
                <div class="heading-title color-lightgrey mb-40 text-center">
                    <h5 class="uppercase">Testimonial</h5> 
                </div>
            </div>
             <div class="col-xs-12">
                 <div class="total-testimonial active-slider carosule-pagi pagi-03">
                     <div class="single-testimonial">
                         <div class="testimonial-img">
                             <img src="images/team/testi-03.jpg" alt="">
                         </div>
                         <div class="testimonial-content color-lightgrey">
                             <div class="name-degi pos-rltv">
                                 <h5>Anik Islam</h5>
                                 <p>Developer</p>
                             </div>
                             <div class="testi-text">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                             </div>
                         </div>
                     </div>
                     <div class="single-testimonial">
                         <div class="testimonial-img">
                             <img src="images/team/testi-02.jpg" alt="">
                         </div>
                         <div class="testimonial-content color-lightgrey">
                             <div class="name-degi pos-rltv">
                                 <h5>Shakara Tasnim</h5>
                                 <p>Facebook Liker</p>
                             </div>
                             <div class="testi-text">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                             </div>
                         </div>
                     </div>
                     <div class="single-testimonial">
                         <div class="testimonial-img">
                             <img src="images/team/testi-01.jpg" alt="">
                         </div>
                         <div class="testimonial-content color-lightgrey">
                             <div class="name-degi pos-rltv">
                                 <h5>Momen Buhyan</h5>
                                 <p>Designer</p>
                             </div>
                             <div class="testi-text">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>        
<!--testimonial-area-end-->