.social-icon ul li div.add-cart.add-cart-text {
    font-family: montserrat;
    font-size: 14px;
    padding: 0 10px;
    width: auto;
}

.social-icon.socile-icon-style-1 li div {
    border: 1px solid #666;
    color: #666;
}

.social-icon.socile-icon-style-1 li div button {
    color: #666;
}

.social-icon ul li div.add-cart.add-cart-text i {
    border-left: 1px solid;
    font-size: 20px;
    height: 34px;
    line-height: 33px;
    margin-left: 10px;
    padding-left: 6px;
}

.social-icon ul li div:hover {
    background: #c33 none repeat scroll 0 0;
    border-color: #c33;
}

.social-icon ul li div:hover * {
    color: #fff;
    cursor: pointer;
}
