<div class="list-grid-view text-center">
    <ul class="nav" role="tablist" id="viewType">
        <li role="presentation" {% if viewType=='grid' %}class="active"{% endif %}><a href="#grid" aria-controls="grid" role="tab" data-toggle="tab"><i class="zmdi zmdi-widgets"></i></a></li>
        <li role="presentation" {% if viewType=='list' %}class="active"{% endif %}><a href="#list" aria-controls="list" role="tab" data-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a></li>
    </ul>
</div>