<div class="shop-total-product-area clearfix mt-35">
  <!-- Tab panes -->
  <div class="tab-content">

    {{ include('default/layouts/grid-categories.html.twig') }}

    {{ include('default/layouts/list-categories.html.twig') }}
    

  </div>
</div>
<!-- jquery latest version -->
<script src="{{ asset('js/vendor/jquery-1.12.0.min.js') }}"></script>
<script src="{{ asset('js/common-filter.js') }}"></script>