<label>View</label>
<select id="input-amount" onchange="location.href='{{ url('categories') }}?itemsPerPage='+this.value;">
{% for page in pages %}
  <option value="{{ page }}" {% if page == current %} selected {% endif %}>{{ page }}</option>
{% endfor %}
</select>