<label>Sort By</label>
<select id="input-sort">
    <option value="#" selected>Default</option>
    <option value="#">Name (A - Z)</option>
    <option value="#">Name (Z - A)</option>
    <option value="#">Price (Low &gt; High)</option>
    <option value="#">Price (High &gt; Low)</option>
    <option value="#">Rating (Highest)</option>
    <option value="#">Rating (Lowest)</option>
    <option value="#">Model (A - Z)</option>
    <option value="#">Model (Z - A)</option>
</select>