<label>Sort By</label>
<select id="input-sort">
    <option value="id-asc" {% if orderBy == 'id' %}selected{% endif %}>Default</option>
    <option value="name-asc" {% if orderBy == 'name' and orderType == 'asc' %}selected{% endif %}>Name (A - Z)</option>
    <option value="name-desc" {% if orderBy == 'name' and orderType == 'desc' %}selected{% endif %}>Name (Z - A)</option>
    <option value="price-asc" {% if orderBy == 'price' and orderType == 'asc' %}selected{% endif %}>Price (Low &gt; High)</option>
    <option value="price-desc" {% if orderBy == 'price' and orderType == 'desc' %}selected{% endif %}>Price (High < Low)</option>
{#
    <option value="#">Rating (Highest)</option>
    <option value="#">Rating (Lowest)</option>
    <option value="#">Model (A - Z)</option>
    <option value="#">Model (Z - A)</option>
#}
</select>